<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
</h:head>
<h:body>
    <h:form id="form">
        <h:outputText id="empty_list_message"
            rendered="#{empty memberController.members}"
            value="List is empty." />
        <h:outputText id="list_size_message"
            rendered="#{not empty memberController.members}"
            value="#{memberController.members.size()}" />
        <h:inputText id="member_name" value="#{memberController.name}" />
        <h:commandButton id="add_member_btn"
             type="button" value="Add">
             <f:ajax event="click"
                 execute="member_name" render="@form"
                 listener="#{memberController.addMember()}"/>
        </h:commandButton>
        <br />
    </h:form>
</h:body>
</html>